﻿@model ExampleCommerce.BUSINESS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BUSINESS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INCORP_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INCORP_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATE_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATE_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER.ADDRESS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CUST_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
