﻿@model ExampleCommerce.CUSTOMER

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CUSTOMER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_TYPE_CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_TYPE_CD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FED_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FED_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSTAL_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSTAL_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INDIVIDUAL.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INDIVIDUAL.FIRST_NAME)
        </dd>

    </dl>
</div>


<div>
    <h4>Accounts</h4>
    <table class="table">      
            <tr>
                <th>
                    Account ID
                </th>
                <th>
                    Available Balance
                </th>
                <th>
                    Close date
                </th>
                <th>
                    Open date
                </th>
                
            </tr>
        
        @foreach (var item in Model.ACCOUNTs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ACCOUNT_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AVAIL_BALANCE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CLOSE_DATE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OPEN_DATE)
                </td>
            </tr>
        }
    </table>
</div>




<div>
    <h4>Officers</h4>
    <table class="table">
        @*
        @foreach (var item in Model.OFFICERs)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(modelItem => item.FIRST_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => item.LAST_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => item.END_DATE)
                </th>
            </tr>
        }
            *@
        <tr>
            <th>
                Officer ID
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                End Date
            </th>
        </tr>
        @foreach (var item in Model.OFFICERs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OFFICER_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FIRST_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LAST_NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.END_DATE)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CUST_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
