﻿@model ExampleCommerce.ACC_TRANSACTION

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ACC_TRANSACTION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FUNDS_AVAIL_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FUNDS_AVAIL_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TXN_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TXN_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TXN_TYPE_CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TXN_TYPE_CD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRANCH.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRANCH.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE.FIRST_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
