﻿@model ExampleCommerce.ACC_TRANSACTION

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ACC_TRANSACTION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AMOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FUNDS_AVAIL_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FUNDS_AVAIL_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TXN_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TXN_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TXN_TYPE_CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TXN_TYPE_CD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRANCH.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRANCH.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE.FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT.PRODUCT_CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT.PRODUCT_CD)
        </dd>

    </dl>
</div>

<div>
    <h4>Employee</h4>
    <table class="table">
        <tr>
            <th>
                Employee ID
            </th>
            <th>
                Last Name
            </th>
            <th>
                Start Working Date
            </th>
            <th>
                End Working Date
            </th>
            
            <th>
                Department Name
            </th>
            <th>
                Title
            </th>
        </tr>     
        <tr>
            <td>
                @Html.DisplayFor(model => model.EMPLOYEE.EMP_ID)
            </td>
            <td>
                @Html.DisplayFor(model => model.EMPLOYEE.LAST_NAME)
            </td>
            <td>
                @Html.DisplayFor(model => model.EMPLOYEE.START_DATE)
            </td>
            <td>
                @Html.DisplayFor(model => model.EMPLOYEE.END_DATE)
            </td>          
            <td>
                @Html.DisplayFor(model => model.EMPLOYEE.TITLE)
            </td>
        </tr>
    </table>
</div>

<div>
    <h4>Account</h4>
    <table class="table">
        <tr>
            <th>
                Account ID
            </th>
            <th>
                Available Balance
            </th>
            <th>
                Pending Balance
            </th>
            <th>
                Close Date
            </th>
            <th>
                Open Date
            </th>
            <th>
                Customer ID
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.ACCOUNT_ID)
            </td>
            <td>
                @Html.DisplayFor(model => model.ACCOUNT.AVAIL_BALANCE)
            </td>
            <td>
                @Html.DisplayFor(model => model.ACCOUNT.PENDING_BALANCE)
            </td>
            <td>
                @Html.DisplayFor(model => model.ACCOUNT.CLOSE_DATE)
            </td>
            <td>
                @Html.DisplayFor(model => model.ACCOUNT.OPEN_DATE)
            </td>
            <td>
                @Html.DisplayFor(model => model.ACCOUNT.CUST_ID)
            </td>
        </tr>      
    </table>
</div>

<div>
    <h4>Branch</h4>
    <table class="table">
        <tr>
            <th>
                Branch ID
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                Name
            </th>
            <th>
                State
            </th>
            <th>
                Zip Code
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.BRANCH.BRANCH_ID)
            </td>
            <td>
                @Html.DisplayFor(model => model.BRANCH.ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(model => model.BRANCH.CITY)
            </td>
            <td>
                @Html.DisplayFor(model => model.BRANCH.NAME)
            </td>
            <td>
                @Html.DisplayFor(model => model.BRANCH.STATE)
            </td>
            <td>
                @Html.DisplayFor(model => model.BRANCH.ZIP_CODE)
            </td>
        </tr>
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TXN_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
