﻿@model ExampleCommerce.PRODUCT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PRODUCT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DATE_OFFERED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_OFFERED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_RETIRED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_RETIRED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCT_TYPE.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCT_TYPE.NAME)
        </dd>       
    </dl>
</div>

@*
    <div>
    <h4>Accounts</h4>
    <table class="table">
        <tr>
            <th>
                Account ID
            </th>
            <th>
                Available Balance
            </th>
            <th>
                Close date
            </th>
        </tr>

        @foreach (var item in Model.ACCOUNTs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ACCOUNT_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AVAIL_BALANCE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CLOSE_DATE)
                </td>
            </tr>
        }
    </table>
</div>
*@

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PRODUCT_CD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
