﻿@model IEnumerable<ExampleCommerce.PRODUCT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DATE_OFFERED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_RETIRED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT_TYPE.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_OFFERED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_RETIRED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT_TYPE.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PRODUCT_CD }) |
            @Html.ActionLink("Details", "Details", new { id=item.PRODUCT_CD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PRODUCT_CD })
        </td>
    </tr>
}

</table>
